<nav>
    <div class="nav-wrapper">
        
        <a href="#!" class="brand-logo"><img src="../assets/img/Logo EPets.png" alt="" style="width: 50px;"> Mascota-Feliz</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">account_circle</i> Cliente </a></li>
            <li><a href="badges.html"><i class="material-icons">shopping_basket</i>Productos y servicios</a></li>
            <li><a href="collapsible.html"><i class="material-icons">pets</i>Mascotas</a></li>            
            <li><a href="mobile.html"><i class="material-icons">business_center</i>Planes</a></li>
            <li><a href="mobile.html"><i class="material-icons">supervisor_account</i>Asesores</a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i>Refrescar</a></li>
            <a class="waves-effect waves-light btn"><i class="material-icons left">directions_walk</i>Inicio Sesion</a>
        </ul>
    </div>
    
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html"><i class="medium material-icons">account_circle</i> Cliente </a></li>
    <li><a href="badges.html"><i class="medium material-icons">shopping_basket</i>Productos y servicios</a></li>
    <li><a href="collapsible.html"><i class="medium material-icons">pets</i>Mascotas</a></li>            
    <li><a href="mobile.html"><i class="medium material-icons">business_center</i>Planes</a></li>
    <li><a href="mobile.html"><i class=" medium material-icons">supervisor_account</i>Asesores</a></li>
    <li><a href="collapsible.html"><i class="medium material-icons">refresh</i>Refrescar</a></li>
    <a class="waves-effect waves-light btn"><i class="material-icons left">directions_walk</i>Inicio Sesion</a>
</ul>